html {
    background: #103c66;
    font-family: Nunito, sans-serif;
    font-size: 62.5%;
}

body {
    margin: 0px;
    font-size: 2.0rem;
}

.nav-bar {
    padding: 0px 3px 0px 20px;
    display: flex;
    height: 10vh;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /*background: #9C1A1C;*/
    margin-left: 20px;
    width: 100%;
}

.nav:last-child {
    margin-right: 20px;
}

.nav>button {
    height: 100%;
    background: none;
    border: none;
    color: white;
}

.nav>button:hover {
    background: white;
    color: #103c66;
}

.brand {
    height: auto;
    width: auto;
    padding: 3px 0px 3px 0px;
}

#guns-logo-container {
    filter: brightness(40%);
    display: flex;
    justify-content: center;
    height: 92vh;
    background: white;
}

#cards-container {
    display: flex;
}

.card {
    shape-outside: inherit;
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    background: whitesmoke;
}

.title {
    margin: 0px;
    text-align: center;
}

.card-img {
    height: auto;
    width: 100%;
}

#call-us-container {
    align-items: center;
}

#call-us {
    background: whitesmoke;
    padding: 5px;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    border-radius: 1em;
    box-shadow: 6px 4px 2px 1px rgba(0, 0, 255, .2);
    margin: auto 10vw;
}

.input {
    height: 1gd;
}

#office-hours-and-address-container {
    background: whitesmoke;
    display: flex;
    padding: 1em 1em 1em 1em;
}

#office-hours {
    border: 1px solid black;
    flex: 1;
}

#address {
    border: 1px solid black;
    flex: 2;
}

.flex {
    display: flex;
}

.flex.column {
    display: flex;
    flex-direction: column;
}

.flex.center {
    justify-content: center;
}

ul {
    margin: 0;
    padding: 0;
}

ul.no-style-type {
    list-style-type: none;
}

.txt-align.center {
    text-align: center;
}

.txt-align.right {
    text-align: right;
}

.txt-align.left {
    text-align: left;
}