/* Base */
:root {
    --input-border: #8b8a8b;
    --input-focus-h: 245;
    --input-focus-s: 100%;
    --input-focus-l: 42%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    font-family: Nunito, sans-serif;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-size: 2.0rem;

    background: #103c66;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Identifies */
#nav-bar {
    display: flex;
    height: 10vh;
    background: #103c66;
    padding: 0 1em;
}

#hamburger-menu {
    display: none;
}

#brand {
    display: flex;
    height: auto;
    width: auto;
    padding: 0.5em;
}

#nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

#nav>a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    height: 100%;
    font-size: 1.6rem;
    white-space: nowrap;
    padding: 1em;
    transition: 0.3s;
}

#nav>a:hover {
    background: white;
    color: #103c66;
}

#phone-contact {
    color: white;
    text-decoration: none;
    white-space: nowrap;
    align-self: center;
    margin: auto 1em;
}

#phone-contact::before {
    content: '(51) ';
    font-size: 70%;
}

#intro-container {
    display: flex;
    justify-content: center;
    height: 90vh;
    background-color: white;
    padding: 2vh 0;
}

#call-us {
    display: flex;
    color: whitesmoke;
    height: 100vh;
}

#call-us-title-container {
    display: flex;
    flex-direction: column;
    padding-inline-start: 1em;
    position: relative;
    background: url("../images/call-us-bg.jpeg") no-repeat center;
    background-size: cover;
    flex: 1;
}

#call-us-title-container::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.6);
}

#call-us-title {
    position: relative;
    align-self: flex-start;
    border-inline-start: 4px whitesmoke solid;
    padding-inline-start: 1rem;
    background: rgba(0,0,0,0.6);
    line-height: 1;
}

#call-us-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    flex: 2;
}

#description {
    height: 100%;
}

#call-us-submit {
    align-self: flex-start;
    font-size: 1.6rem;
    color: gray;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px whitesmoke solid;
}

#call-us-submit:hover {
    color: black;
}

#google-maps {
    margin: 0;
    flex: 2;
    height: 50vh;
}

#footer {
    background: #103c66;
}

@media (max-width: 900px) {
    #hamburger-menu {
        display: flex;
    }
    #nav * {
        display: none;
    }
    #phone-contact {
        display: none;
    }
    #call-us-title-container {
        display: none;
    }
}









/* Classes */
.title {
    margin: 0px;
    text-align: center;
}

.flex {
    display: flex;
}

.flex.column {
    display: flex;
    flex-direction: column;
}

.flex.center {
    justify-content: center;
}

ul.no-style-type {
    list-style-type: none;
}

.txt-align.center {
    text-align: center;
}

.txt-align.right {
    text-align: right;
}

.txt-align.left {
    text-align: left;
}

.input {
  font-size: 16px;
  font-size: max(16px, 1em);
  font-family: inherit;
  padding: 0.25em 0.5em;
  background-color: #fff;
  border: 2px solid var(--input-border);
  border-radius: 4px;
}