<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible"
              content="ie=edge">
        <link rel="stylesheet"
              href="static/styles/index-stylesheet.css">
        <title>{% block title %}Guns SMT{% endblock %}</title>

        {# Nunito font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet">
        <script src="static/scripts/hamburger-menu.js" defer></script>
    </head>
    <body>
        {# Navigation bar #}
        <header id="nav-bar">
            {# Brand image #}
            <a id="brand" href="{{ url_for('index.index') }}">
                <img src="static/images/guns_brand.png" draggable="false">
            </a>

            {# Navigation menu #}
            <nav id="nav">
                {# Nav buttons #}
                <div id="nav-btns">
                    <a href="#call-us"><strong>CONTATO</strong></a>
                    <a href="#"><strong>ATENDIMENTO</strong></a>
                    <a href="#"><strong>ASSOCIE-SE</strong></a>
                </div>
                {# Social medias #}
                <div id="social-medias">
                    <a href="tel:+5551993879309">
                        <img src="static/images/icons/telephone.svg" alt="Telefone">
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=5551993879309&text=Ol%C3%A1%21+Gostaria+de+falar+com+algu%C3%A9m.&lang=pt_br"
                       target="_blank">
                        <img src="static/images/icons/whatsapp.svg" alt="WhatsApp">
                    </a>
                    <a href="https://www.instagram.com/gunsmt/"
                       target="_blank">
                        <img src="static/images/icons/instagram.svg" alt="Instagram">
                    </a>
                </div>
            </nav>

            {# Hamburger menu #}
            <a id="hamburger-menu" onclick="changeMenu()">
                <img src="static/images/icons/list.svg" draggable="false">
            </a>
        </header>

        {# Introduction container #}
        <div id="intro-container">
            <img id="intro-banner" src="static/images/guns.png" draggable="false">
        </div>

        {# Call us #}
        <div id="call-us">
            <div id="call-us-title-container">
                <h1 id="call-us-title">FALE CONOSCO</h1>
            </div>
            <form id="call-us-form">
                {# Name input #}
                <label for="your-name">SEU NOME</label>
                <input type="text" id="your-name" name="your-name" class="input" placeholder="Seu nome...">

                <br>

                {# Email input #}
                <label for="your-email">SEU E-MAIL</label>
                <input type="email" id="your-email" name="your-email" class="input" placeholder="Seu e-mail...">

                <br>

                <label for="subject">TÍTULO</label>
                <input type="text" id="subject" name="subject" class="input" placeholder="Uma breve descrição sobre o assunto que quer falar...">

                <br>

                {# Description input #}
                <label for="message">MENSAGEM</label>
                <textarea id="message" name="message" class="input" placeholder="Fale sobre o que deseja..." rows="100"></textarea>

                <br>

                {# Send button #}
                <button id="call-us-submit" type="submit" formmethod="post"><strong>ENVIAR</strong></button>
            </form>
        </div>

        {# Google maps address #}
        <iframe id="google-maps" src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d1787.5471026168784!2d-51.96351886433686!3d-29.477912192249224!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e0!4m0!4m5!1s0x951c6322c02bf62d%3A0x76e7f3554c1b9a32!2sGuns%20Muni%C3%A7%C3%B5es%20e%20Treinamentos%2C%20Av.%20Augusto%20Frederico%20Markus%2C%20800%20das%20-%20Ind%C3%BAstrias%2C%20Estrela%20-%20RS%2C%2095880-000!3m2!1d-29.477859799999997!2d-51.9624811!5e0!3m2!1spt-BR!2sbr!4v1627330961389!5m2!1spt-BR!2sbr" width="600" height="450" style="border:0; width: 100%" allowfullscreen="" loading="lazy"></iframe>

        {# Footer #}
        <div id="footer" class="flex column">
            <p class="txt-align center" style="font-size: 1.6rem; color: white;">
                Rua Augusto Frederido Markus, nº 830<br>
                Bairro das Indústrias<br>
                Estrela, RS
            </p>
        </div>
    </body>
</html>